@import "../../../styles.scss";

:host {
  position: sticky;
  top: 2rem;
}

form {
  @include padding();
  @include center-x-y($justify: space-between);
  gap: 0.5rem;
  @include invisible-borders();
  @include theme("task-form");
}

.add-task-input-container {
  height: 3rem;
  flex: 1;
}
