@import "./colors";

@function color($color-name) {
  @return map-get($map: $colors, $key: $color-name);
}

@mixin light-theme($element) {
  @if $element == "button" {
    border-color: color("black");
    color: color("black");
  }
  @if $element == "body" {
    background-color: color("white");
    color: color("black");
  }
  @if $element == "task" {
    background-color: color("black-10");
  }
  @if $element == "task-form" {
    background-color: color("black-10");
    backdrop-filter: blur(0.5rem) saturate(150%);
  }
  @if $element == "task-input" {
    color: color("black");
  }
  @if $element == "divider" {
    background-color: color("black-10");
  }
}

@mixin dark-theme($element) {
  @if $element == "button" {
    border-color: color("white");
    color: color("white");
  }
  @if $element == "body" {
    background-color: color("black");
    color: color("white");
  }
  @if $element == "task" {
    background-color: color("white-10");
  }
  @if $element == "task-form" {
    background-color: color("white-10");
  }
  @if $element == "task-input" {
    color: color("white");
  }
  @if $element == "divider" {
    background-color: color("white-10");
  }
}

@mixin theme($element, $user-choice: "system-theme") {
  @if ($user-choice == "system-theme") {
    @include light-theme($element);
    @media (prefers-color-scheme: dark) {
      @include dark-theme($element);
    }
  }
  @if ($user-choice == "light") {
    @include light-theme($element);
  }
  @if ($user-choice == "dark") {
    @include dark-theme($element);
  }
}
