@import "../styles.scss";

.header {
  padding: 0 1.5rem;
}

.header-container {
  margin: 0px auto;
  box-sizing: border-box;
  @include max-width();
  @include padding();
  @include center-x-y($justify: space-between);
}

.section {
  @include center-x-y();
  padding: 0 1.5rem;
}

.task-list {
  @include max-width();
}
