@import "../../../styles.scss";

:host {
  display: flex; //By default angular does not give a component a display value and
  // the browser defaults to inline which does not allow width modification
  flex-direction: column;
  gap: 1rem;
  width: 100%;
}
.divider {
  height: 0.125rem;
  margin: 0;
  border: none;
  @include theme("divider");
}
