@import "../../../styles.scss";

.btn {
  box-sizing: border-box;
  height: 3rem;
  min-width: 3rem;
  padding: 0.5rem 1rem;
  @include center-x-y();

  background: none;
  @include visible-borders();
  @include theme("button");
  cursor: pointer;
}

.icon-btn {
  padding: 0.5rem;
}

.icon {
  height: 1.5rem;
}
.text {
  margin-left: 0.5rem;
  font-size: 1.5rem;
  line-height: 1.5rem;
}
